.container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto 3rem;
    width: 80%;
    padding: 2.5rem 1rem;
    border-radius: 12px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
}

.inputItem {
    display: flex;
    flex-direction: column;
}

.inputItem input {
    outline: none;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid grey;
    margin: 0.5rem 0;
}