
.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.8rem;
    background-color: #034d;
    color: #fff;
}

.path {
    display: none;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 30%;
}


