* {
    margin: 0;
    padding: 0;
}

.container {
    color: white;
    background-color: dodgerblue;
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

